@page "/topnews"
@inject HttpClient Http

<div class="topnews">
    @if (Classifieds == null)
    {
        <div>Loading...</div>
    }
    else
    {
        <div class="header-wrapper">
            <h3>Top @Classifieds.Count() news searched.</h3>
        </div>
        @foreach (Classified classified in Classifieds)
        {
            <div class="topnews__card">
                <h5>@classified.Title</h5>
                <div class="subject-date">
                    <p class="date">@classified.Date</p>
                    <p class="subject">@classified.Subject</p>
                </div>
                <p>@classified.Text</p>
                <p style="font-weight: bold; font-size: 2rem">@(classified.isClassifiedFake ? "FAKE" : "TRUE")</p>
            </div>
        }
    }
</div>

@code {

    public List<Classified> Classifieds = null;

    protected override async Task OnInitializedAsync()
    {
        @* var req = new Dictionary<string, dynamic>
        {
            { "title", classified.Title },
            { "text", classified.Text },
            { "subject", classified.Subject },
            { "date", classified.Date },
        }; *@
    
        var res = await Http.GetFromJsonAsync<List<Classified>>("https://localhost:5005/api/cached_classifications/hotnews");
        Classifieds = res;
        @* displayStyle = "block"; *@
    }


}
