@page "/topnews"
@inject HttpClient Http
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<div class="topnews">
    @if (Classifieds == null)
    {
        <div>Loading...</div>
    }
    else
    {
        <div class="header-wrapper">
            <h3>Top @Classifieds.Count() news searched.</h3>
        </div>
        @foreach (Classified classified in Classifieds)
        {
            @if (@classified.isClassifiedFake)
            {
                BackgroundColor = "rgba(255, 0, 0, 0.1)";
            }
            else
            {
                BackgroundColor = "rgba(0, 255, 0, 0.1)";
            }

            <div class="topnews__card" style="background-color: @BackgroundColor">
                <h5>@classified.Title</h5>
                <div class="subject-date">
                    <p class="date">@classified.Date</p>
                    <p class="subject">@classified.Subject</p>
                </div>
                <p>@classified.Text</p>
            </div>
        }
    }
</div>

@code {

    public List<Classified> Classifieds = null;
    
    public string BackgroundColor { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var res = await Http.GetFromJsonAsync<List<Classified>>($"{@Configuration["NewsStorage"]}/cached_classifications/hotnews");
        Classifieds = res;
    }


}
